.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

:root {
  --btn-col: #f26680;
  --font: "Rubik", sans-serif;
  --input-bg-col: #dce1eb;
}

html,
body {
  margin: 0;
  padding: 0;
  /*
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    */
  font-family: var(--font);
  background-color: #ffffff;
  color: #f29bbb;
  user-select: none;
}
* {
  font-family: var(--font);
}

.container {
  border: 5px solid black;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 30px auto;
  max-width: 320px;
}

.img {
  width: 150px;
  margin: 0 auto;
}

input {
  color: #432000;
  background-color: #dce1eb;
  width: 200px;
  padding: 1em;
  border-radius: 8px;
  border: none;
  text-align: center;
  margin: 5px;
  font-size: 20px;
  font-family: var(--font);
}

button {
  color: #fdfdfd;
  background-color: var(--btn-col);
  border: 0;
  width: 240px;
  padding: 1em;
  border-radius: 8px;
  text-align: center;
  margin: 5px;
  font-family: var(--font);
  font-size: 20px;
}

button:hover {
  background-color: #fdc58c;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

ul li {
  font-size: 20px;
  background-color: #fefffb;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

ul li:hover {
  background-color: #f29bbb;
  cursor: pointer;
  color: #ffffff;
}
